:export {
  black000: #000;
  white000: #fff;

  gray100: #f4f8fd;
  gray200: #e5ecf3;
  gray300: #cfd9e3;
  gray400: #a0acb8;
  gray500: #6c7680;
  gray600: #444d56;
  gray700: #24292e;

  lime100: #76d668;
  lime200: #63d052;
  lime300: #4fca3d;
  lime400: #3cc427;
  lime500: #29bf12;
  lime600: #26ae11;

  chartreuse100: #c9ff8f;
  chartreuse200: #c1ff7f;
  chartreuse300: #baff6f;
  chartreuse400: #b2ff5f;
  chartreuse500: #abff4f;
  chartreuse600: #9ce848;

  turquoise100: #61d5d5;
  turquoise200: #4bcfcf;
  turquoise300: #34c9c9;
  turquoise400: #1ec3c3;
  turquoise500: #08bdbd;
  turquoise600: #08acac;

  watermelon100: #f66d84;
  watermelon200: #f55973;
  watermelon300: #f44461;
  watermelon400: #f32f50;
  watermelon500: #f21b3f;
  watermelon600: #dc193a;

  tangelo100: #ffbe69;
  tangelo200: #ffb454;
  tangelo300: #ffab3e;
  tangelo400: #ffa229;
  tangelo500: #ff9914;
  tangelo600: #e88c13;
}
