.layout {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: auto;
  flex-basis: 100%;

  & > * {
    flex: auto;
    display: flex;
  }

  .layout[data-inset='0'] {
    padding: var(--size-0);
  }
  .layout[data-inset='1'] {
    padding: var(--size-1);
  }
  .layout[data-inset='2'] {
    padding: var(--size-2);
  }
  .layout[data-inset='3'] {
    padding: var(--size-3);
  }
  .layout[data-inset='4'] {
    padding: var(--size-4);
  }
  .layout[data-inset='5'] {
    padding: var(--size-5);
  }
  .layout[data-inset='6'] {
    padding: var(--size-6);
  }

  .layout[data-spacing='0'] {
    margin: var(--size-0);
  }
  .layout[data-spacing='1'] {
    margin: var(--size-1);
  }
  .layout[data-spacing='2'] {
    margin: var(--size-2);
  }
  .layout[data-spacing='3'] {
    margin: var(--size-3);
  }
  .layout[data-spacing='4'] {
    margin: var(--size-4);
  }
  .layout[data-spacing='5'] {
    margin: var(--size-5);
  }
  .layout[data-spacing='6'] {
    margin: var(--size-6);
  }


  &[data-flex='auto'] {
    flex: auto;
  }

  &[data-flex='static'] {
    flex: none;
  }

  &[data-flex='initial'] {
    flex: initial;
  }

  &[data-type='vertical'] {
    flex-direction: column;

    & > * {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &[data-type='horizontal'] {
    flex-direction: row;

    & > * {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
