
@value (
  size1 as inset-small,
  size2 as inset-medium,
  size3 as inset-large
) from '../../styles/properties/size.css';

@value (
  size3 as spacing-small,
  size4 as spacing-medium,
  size5 as spacing-large
) from '../../styles/properties/size.css';

.layout {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: auto;
  flex-basis: 100%;

  & > * {
    flex: auto;
    display: flex;
  }


  &[data-flex='auto'] {
    flex: auto;
  }

  &[data-flex='static'] {
    flex: none;
  }

  &[data-flex='initial'] {
    flex: initial;
  }


  @each $k, $v in (0,1,2),(inset-small,inset-medium,inset-large) {
    &[data-inset='$(k)'] {
      padding: $(v);
    }
  }
  @each $k, $v in (0,1,2),(spacing-small,spacing-medium,spacing-large) {
    &[data-spacing='$(k)'] {
      margin: $(v);
    }
  }


  &[data-type='vertical'] {
    flex-direction: column;

    & > * {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &[data-type='horizontal'] {
    flex-direction: row;

    & > * {
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
