@value (
  fontSizeSmall,
  fontSizeRegular,
  fontSizeLarge,
  fontSizeTitle,
  fontSizeHeader
) from '../../styles/properties/font-size.css';

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: block;

  &[data-size="small"] {
    font-size: fontSizeSmall;
  }

  &[data-size="regular"] {
    font-size: fontSizeRegular;
  }

  &[data-size="large"] {
    font-size: fontSizeLarge;
  }

  &[data-size="title"] {
    font-size: fontSizeTitle;
  }

  &[data-size="header"] {
    font-size: fontSizeHeader;
  }
}

